.form-container{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    box-sizing: 8px;
    display: flex;
    justify-content: center;
}
.form-title{
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}