/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Open+Sans:ital,wght@1,500&family=Poppins&family=Raleway:ital,wght@0,600;1,100&display=swap'); */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name {
    color: rgb(216, 51, 10);
}
.container
{
    display: flex;
    margin-bottom: 120px;
    margin-top: 10px;
}
h1{
    font-size: 50px;
}
.half-width {
width: 50%;
float: left;
margin-left: 5%;
padding-left: 3%;
}
.half-width img {
    width: 80%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 60, 0), tomato);
    /* background-color: orange; */
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner {
    /* background-image: linear-gradient(); */
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    color: dimgray;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience{
    text-align: center;
}
.orange-color{
    color: rgb(228, 59, 7);
}
h2{
    font-size: 40px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 12px 15px rgb(243, 154, 183);
    border: 1px solid pink;
    border-left: 5px solid green;
}
#front-end {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 64), cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}

