@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
header {
    background-color: #0572ca;
    min-height: 80px;
}

/* Main Section */
.formData {
    background-color: rgba(169, 169, 169, 0.2);
}

#calculationButton {
    background-color: hsl(202, 91%, 46%);
    color: #fff;
    width: 30%;
}

/* footer section */
footer {
    min-height: 80px;
    background-color: darkcyan;
}