* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex: wrap;
}