/* top players style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}